<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-12">
      <h1>{{title.titleName}}</h1>
      <app-storyline></app-storyline>
      <p>Released: <em>{{title.releaseYear}}</em></p>
    </div>
  </div>
</div>


<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-6">
      <app-credits></app-credits>
    </div>
    <div class="mdc-layout-grid__cell--span-6">
        <app-awards></app-awards>
    </div>
  </div>
</div>
